@model Webmotors.Application.Model.AnuncioModel

@{
    ViewBag.Title = "Editar Anuncio";
}

<h2>Editar Anuncio</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AnuncioModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.marca, new { @id = "idMarcaDefault" })
                <select id="marcaID" name="marca" class="form-control" onchange="buscarModelos()"></select>
                @Html.ValidationMessageFor(model => model.marca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.modelo, new { @id = "idModeloDefault" })
                <select id="modeloID" name="modelo" class="form-control" , onchange="buscarVersoes()"></select>
                @Html.ValidationMessageFor(model => model.modelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.versao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.versao, new { @id = "idVersaoDefault" })
                <select id="versaoID" name="versao" class="form-control"></select>
                @Html.ValidationMessageFor(model => model.versao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ano, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ano, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ano, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quilometragem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quilometragem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quilometragem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.observacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.observacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.observacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="@Url.Content("~/Scripts/jquery-3.3.1.js")" type="text/javascript"></script>

<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        buscarMarcas();

        iniciarModelos();

        iniciarVersoes();
    });

    function iniciarModelos(){

        var modeloDefault = $("#idModeloDefault").val();

        var modeloElements = $("#modeloID");

        var option = $("<option />");

        option.html(modeloDefault);

        option.val(modeloDefault);

        modeloElements.append(option);
    }

    function iniciarVersoes() {

        var versaoDefault = $("#idVersaoDefault").val();

        var versaoElements = $("#versaoID");

        var option = $("<option />");

        option.html(versaoDefault);

        option.val(versaoDefault);

        versaoElements.append(option);
    }

    function buscarMarcas() {
        var marcaDefault = $("#idMarcaDefault").val();

        var url = "/Anuncio/GetMarcas/";

        $.ajax({
            type: 'GET',
            cache: false,
            url: url,
            dataType: 'json',
            complete: function (data) {

                var marcas = JSON.parse(data.responseText);

                var marcaElements = $("#marcaID");

                $(marcas).each(function () {

                    var option = $("<option />");

                    option.html(this.Name);

                    option.val(this.Name);

                    option.attr('id', this.ID);

                    if (this.Name === marcaDefault) {
                        option.attr('selected', 'selected');
                    }

                    marcaElements.append(option);
                });
            }
        })
    }


    /*   $('#marcaID').change(function () {*/

    function buscarModelos() {

        var modeloDefault = $("#idModeloDefault").val();
        var url = "/Anuncio/GetModelo/";

        var id = $("#marcaID").children(":selected").attr("id");

        if (id !== "-1") {
            $.ajax({
                type: 'GET',
                cache: false,
                url: url,
                data: { id: id },
                dataType: 'json',
                complete: function (data) {
                    $('#modeloID').find('option').remove();

                    var modelos = JSON.parse(data.responseText);

                    var modeloElements = $("#modeloID");

                    $(modelos).each(function () {

                        var option = $("<option />");

                        option.html(this.Name);

                        option.val(this.Name);

                        option.attr('id', this.ID);

                        if (this.Name === modeloDefault) {
                            option.attr('selected', 'selected');
                        }

                        modeloElements.append(option);
                    });
                }
            })
        }
        else {
            $('#modeloID').find('option').remove();
            $('#versaoID').find('option').remove();
        }
    }

    function buscarVersoes() {

        var versaoDefault = $("#idVersaoDefault").val();
        var url = "/Anuncio/GetVersao/";

        var id = $("#modeloID").children(":selected").attr("id");

        $.ajax({
            type: 'GET',
            cache: false,
            url: url,
            data: { id: id },
            dataType: 'json',
            complete: function (data) {
                $('#versaoID').find('option').remove();

                var versoes = JSON.parse(data.responseText);

                var versaoElements = $("#versaoID");

                $(versoes).each(function () {

                    var option = $("<option />");

                    option.html(this.Name);

                    option.val(this.ID);

                    if (this.Name === versaoDefault) {
                        option.attr('selected', 'selected');
                    }

                    versaoElements.append(option);
                });
            }
        })
    };

</script>
